<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f98ee4b2-1463-44e5-8f28-e979d49e76f3" Alias="Home page -  - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Home page -  - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>