<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbe7a5db-10c9-4a1f-8553-d91ec7af135d" Alias="Test Document Type B Trashed 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestDocumentTypeBTrashed1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>testDocumentType2</ContentType>
    <CreateDate>2025-09-14T00:29:50</CreateDate>
    <NodeName Default="Test Document Type B Trashed 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>