<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0e076e3-90ae-4252-8fd0-6f6abf84c41c" Alias="Test Document Type D Trashed 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestDocumentTypeDTrashed2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>testDocumentTypeD</ContentType>
    <CreateDate>2025-09-22T21:06:42</CreateDate>
    <NodeName Default="Test Document Type D Trashed 2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>