<?xml version="1.0" encoding="utf-8"?>
<Content Key="28accc81-e34f-47f4-8e1c-6e2cd718f3bd" Alias="Test Document Type B 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeB1</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType2</ContentType>
    <CreateDate>2025-08-21T15:46:27</CreateDate>
    <NodeName Default="Test Document Type B 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>