<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4d8a110-7f0f-4f22-8fcc-36814b2bc8db" Alias="Test Document Type D Trashed 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestDocumentTypeDTrashed1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>testDocumentTypeD</ContentType>
    <CreateDate>2025-09-14T00:30:01</CreateDate>
    <NodeName Default="Test Document Type D Trashed 1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>