<?xml version="1.0" encoding="utf-8"?>
<Content Key="cff49551-7aa5-43cb-bf37-41dd522d4aa1" Alias="Home page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-27T17:30:18</CreateDate>
    <NodeName Default="Home page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64beaad2-11a1-4b55-94ee-1d44eba0867d">homePage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Home Page]]></Value>
    </title>
  </Properties>
</Content>