<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebbbe5d2-7a8e-471b-b994-79a960534faf" Alias="Test document type C 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeC2</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType3</ContentType>
    <CreateDate>2025-08-21T15:46:48</CreateDate>
    <NodeName Default="Test document type C 2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>