<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf410b1f-1d88-427c-9b9e-313853cb10a8" Alias="Test Document Type C 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeC3</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType3</ContentType>
    <CreateDate>2025-08-21T15:46:54</CreateDate>
    <NodeName Default="Test Document Type C 3" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>