<?xml version="1.0" encoding="utf-8"?>
<Content Key="24a0ce9f-8754-4ca6-93aa-f0b7618f3f1d" Alias="Test Document Type C 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeC1</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType3</ContentType>
    <CreateDate>2025-08-21T15:46:40</CreateDate>
    <NodeName Default="Test Document Type C 1" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>