<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c7047e2-7762-4ad6-a25d-a997e57b1d29" Alias="Test Document Type C Draft 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeCDraft1</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType3</ContentType>
    <CreateDate>2025-08-26T01:25:48</CreateDate>
    <NodeName Default="Test Document Type C Draft 1" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>