<?xml version="1.0" encoding="utf-8"?>
<Content Key="27a0c899-97f0-4023-a0e4-75970b1c0867" Alias="Test Document Type B Draft 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeBDraft1</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType2</ContentType>
    <CreateDate>2025-08-26T01:26:10</CreateDate>
    <NodeName Default="Test Document Type B Draft 1" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>