<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d7db742-d33d-4716-beec-95f5d58585b1" Alias="Test document type A 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentTypeA1</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType1</ContentType>
    <CreateDate>2025-08-21T15:46:17</CreateDate>
    <NodeName Default="Test document type A 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>